<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Aid Interviewer</title>
  </head>
  <body>
<h1 class='center' font-size='40px'>Aid Interviewer</h1>
</br></br>
<form class='center' accept-charset="UTF-8" action="/clients" method="post">
  <label> name : <input type="text" name="client[name]" value="" /></label> </br> </br>
  <!--label> email :    <input type="text" name="client[email]" value="" /> </label> </br> </br-->
  <label> password : <input type="password" name="client[password]" value="" size='16px' /></label> </br> </br>
  <div ><input  class="btn btn-lg btn-primary" type="submit" value='Log In' /></div>
</form>
</br></br></br>

  <!--%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %-->


<%= link_to image_tag("Interview_skills_logo.png", alt: "Aid Interviewer"), about_path %>

  </body>
</html>
